{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "jsx-max-len"
  ],
  "rules": {
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "max-len": [
      "error",
      80,
      2,
      {
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "jsx-max-len/jsx-max-len": [
      "error",
      {
        "lineMaxLength": 0,
        "tabWidth": 2,
        "maxAttributesPerLine": 1
      }
    ],
    "camelcase": "off",
    "react/prefer-stateless-function": "off",
    "react/prop-types": "off",
    "react/no-multi-comp": "off",
    "react/no-array-index-key": "off",
    "react/destructuring-assignment": "off",
    "no-underscore-dangle": "off",
    "function-paren-newline": "off",
    "jsx-a11y/click-events-have-key-events": "off"
  }
}