.CartItem {
  display: flex;
  width: 100%;
}

.CartItem .name {
  flex: 2;
}

.CartItem .price {
  flex: 1;
}

.CartItem .count {
  flex: 1;
}

.CartItem .return {
  margin-left: auto;
  color: #f06595;
  cursor: pointer;
}

.CartItem .return:hover {
  text-decoration: underline;
}

.CartItem + .CartItem {
  margin-top: 1rem;
}
